# 지하철 데이터들 확인

In [34]:
import pandas as pd
import re

# 서울시 행정동별 지하철 총 승차 승객수 정보

In [35]:
train_cst = pd.read_csv("../data/서울시 행정동별 지하철 총 승차 승객수 정보.csv", encoding="euc-kr")

In [36]:
train_cst

,기준_날짜,행정동_ID,지하철_승객_수,지하철_승객_수_00시,지하철_승객_수_01시,지하철_승객_수_02시,지하철_승객_수_03시,지하철_승객_수_04시,지하철_승객_수_05시,지하철_승객_수_06시,...,지하철_승객_수_14시,지하철_승객_수_15시,지하철_승객_수_16시,지하철_승객_수_17시,지하철_승객_수_18시,지하철_승객_수_19시,지하철_승객_수_20시,지하철_승객_수_21시,지하철_승객_수_22시,지하철_승객_수_23시
0,20250319,11250770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20250319,11250760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20250319,11250740,9821.0,31.0,0.0,0.0,0.0,0.0,192.0,407.0,...,473.0,485.0,621.0,675.0,713.0,369.0,245.0,276.0,170.0,83.0
3,20250319,11250730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20250319,11250720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499855,20211130,1105057,10728.0,1.0,0.0,0.0,0.0,0.0,182.0,467.0,...,432.0,394.0,562.0,662.0,762.0,422.0,281.0,300.0,150.0,30.0
499856,20211130,1101061,95603.0,4.0,0.0,0.0,0.0,18.0,279.0,355.0,...,4781.0,6015.0,7236.0,12936.0,19579.0,8734.0,6512.0,7032.0,5214.0,1713.0
499857,20211130,1114066,101870.0,11.0,0.0,0.0,0.0,20.0,934.0,2075.0,...,3973.0,4469.0,5575.0,8175.0,13185.0,8303.0,6423.0,7907.0,7051.0,2576.0
499858,20211130,1114060,21633.0,0.0,0.0,0.0,0.0,2.0,184.0,517.0,...,975.0,1161.0,1450.0,2178.0,2229.0,1194.0,954.0,939.0,777.0,222.0
499859,20211130,1113066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
# 데이터 확인
train_cst.iloc[[0], [1]]

     행정동_ID
0  11250770

# 행정동_ID 확인을 위한 서울시 읍면동마스터 정보

In [38]:
local_code = pd.read_csv("../data/서울시 읍면동마스터 정보.csv", encoding="euc-kr")

In [39]:
local_code

        행정동_ID 행정동_명칭 자치구_명칭 시도_명칭
0     31380410    개군면    양평군   경기도
1      3138041    개군면    양평군   경기도
2     31380400    용문면    양평군   경기도
3      3138040    용문면    양평군   경기도
4     31380390    지평면    양평군   경기도
...        ...    ...    ...   ...
2264   1101055    부암동    종로구    서울
2265  11010540    삼청동    종로구    서울
2266   1101054    삼청동    종로구    서울
2267  11010530    사직동    종로구    서울
2268   1101053    사직동    종로구    서울

[2269 rows x 4 columns]

In [40]:
local_code.iloc[[2], [0]]

     행정동_ID
2  31380400

### 202312 데이터 기준

In [41]:
train_cst_filtered = train_cst[(train_cst.iloc[:, 0] > 20231201) & (train_cst.iloc[:, 0] < 20231231)]

In [42]:
train_cst_filtered

,기준_날짜,행정동_ID,지하철_승객_수,지하철_승객_수_00시,지하철_승객_수_01시,지하철_승객_수_02시,지하철_승객_수_03시,지하철_승객_수_04시,지하철_승객_수_05시,지하철_승객_수_06시,...,지하철_승객_수_14시,지하철_승객_수_15시,지하철_승객_수_16시,지하철_승객_수_17시,지하철_승객_수_18시,지하철_승객_수_19시,지하철_승객_수_20시,지하철_승객_수_21시,지하철_승객_수_22시,지하철_승객_수_23시
189340,20231230,1114078,12361.0,3.0,0.0,0.0,0.0,2.0,161.0,244.0,...,993.0,980.0,997.0,952.0,620.0,459.0,318.0,302.0,232.0,83.0
189341,20231230,1114073,13480.0,0.0,0.0,0.0,0.0,2.0,193.0,238.0,...,1070.0,1225.0,1120.0,1036.0,839.0,558.0,486.0,442.0,343.0,191.0
189342,20231230,1114063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189343,20231230,1114059,8861.0,0.0,0.0,0.0,0.0,1.0,53.0,117.0,...,733.0,673.0,659.0,617.0,510.0,389.0,438.0,492.0,368.0,153.0
189344,20231230,1113073,16264.0,0.0,0.0,0.0,0.0,3.0,178.0,242.0,...,1404.0,1464.0,1463.0,1290.0,1028.0,723.0,699.0,512.0,474.0,187.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201689,20231202,1110061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201690,20231202,1110060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201691,20231202,1110056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201692,20231202,1115069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201693,20231202,1115065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
train_cst_filtered.dtypes

기준_날짜             int64
행정동_ID            int64
지하철_승객_수        float64
지하철_승객_수_00시    float64
지하철_승객_수_01시    float64
지하철_승객_수_02시    float64
지하철_승객_수_03시    float64
지하철_승객_수_04시    float64
지하철_승객_수_05시    float64
지하철_승객_수_06시    float64
지하철_승객_수_07시    float64
지하철_승객_수_08시    float64
지하철_승객_수_09시    float64
지하철_승객_수_10시    float64
지하철_승객_수_11시    float64
지하철_승객_수_12시    float64
지하철_승객_수_13시    float64
지하철_승객_수_14시    float64
지하철_승객_수_15시    float64
지하철_승객_수_16시    float64
지하철_승객_수_17시    float64
지하철_승객_수_18시    float64
지하철_승객_수_19시    float64
지하철_승객_수_20시    float64
지하철_승객_수_21시    float64
지하철_승객_수_22시    float64
지하철_승객_수_23시    float64
dtype: object

In [44]:
# 최대값과 최소값의 차이 계산
date_difference = train_cst_filtered['기준_날짜'].max() - train_cst_filtered['기준_날짜'].min()

# date_difference를 int형으로 출력
date_difference = int(date_difference)

date_difference = date_difference+1
date_difference

29

In [45]:
train_cst_filtered.values[0][1]

np.float64(1114078.0)

In [46]:
# 코드 일치여부 확인
for i in range(len(local_code)):
    if local_code.values[i][0] == train_cst_filtered.values[0][1]:  
        print(local_code.values[i][0])
        print(local_code.loc[i]["자치구_명칭"])

1114078
마포구

In [47]:
# 구를 추가
train_cst_filtered["구"] = ""

/tmp/ipykernel_5756/1966471034.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_cst_filtered["구"] = ""

In [48]:
train_cst_filtered

,기준_날짜,행정동_ID,지하철_승객_수,지하철_승객_수_00시,지하철_승객_수_01시,지하철_승객_수_02시,지하철_승객_수_03시,지하철_승객_수_04시,지하철_승객_수_05시,지하철_승객_수_06시,...,지하철_승객_수_15시,지하철_승객_수_16시,지하철_승객_수_17시,지하철_승객_수_18시,지하철_승객_수_19시,지하철_승객_수_20시,지하철_승객_수_21시,지하철_승객_수_22시,지하철_승객_수_23시,구
189340,20231230,1114078,12361.0,3.0,0.0,0.0,0.0,2.0,161.0,244.0,...,980.0,997.0,952.0,620.0,459.0,318.0,302.0,232.0,83.0,
189341,20231230,1114073,13480.0,0.0,0.0,0.0,0.0,2.0,193.0,238.0,...,1225.0,1120.0,1036.0,839.0,558.0,486.0,442.0,343.0,191.0,
189342,20231230,1114063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
189343,20231230,1114059,8861.0,0.0,0.0,0.0,0.0,1.0,53.0,117.0,...,673.0,659.0,617.0,510.0,389.0,438.0,492.0,368.0,153.0,
189344,20231230,1113073,16264.0,0.0,0.0,0.0,0.0,3.0,178.0,242.0,...,1464.0,1463.0,1290.0,1028.0,723.0,699.0,512.0,474.0,187.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201689,20231202,1110061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
201690,20231202,1110060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
201691,20231202,1110056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
201692,20231202,1115069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
201693,20231202,1115065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [49]:
# NAN 값이 섞였는지 검사
train_cst_filtered[train_cst_filtered["행정동_ID"].isna()]

Empty DataFrame
Columns: [기준_날짜, 행정동_ID, 지하철_승객_수, 지하철_승객_수_00시, 지하철_승객_수_01시, 지하철_승객_수_02시, 지하철_승객_수_03시, 지하철_승객_수_04시, 지하철_승객_수_05시, 지하철_승객_수_06시, 지하철_승객_수_07시, 지하철_승객_수_08시, 지하철_승객_수_09시, 지하철_승객_수_10시, 지하철_승객_수_11시, 지하철_승객_수_12시, 지하철_승객_수_13시, 지하철_승객_수_14시, 지하철_승객_수_15시, 지하철_승객_수_16시, 지하철_승객_수_17시, 지하철_승객_수_18시, 지하철_승객_수_19시, 지하철_승객_수_20시, 지하철_승객_수_21시, 지하철_승객_수_22시, 지하철_승객_수_23시, 구]
Index: []

[0 rows x 28 columns]

In [50]:
train_cst_filtered = train_cst_filtered.copy()
# 자료형 일치 (혹시 다를 경우 대비)
train_cst_filtered["행정동_ID"] = train_cst_filtered["행정동_ID"].astype(int)
local_code["행정동_ID"] = local_code["행정동_ID"].astype(int)

# train_cst_filtered에 "구" 컬럼 추가 (merge 이용)
train_cst_filtered = train_cst_filtered.merge(local_code[["행정동_ID", "자치구_명칭"]], 
                                              left_on="행정동_ID", 
                                              right_on="행정동_ID", 
                                              how="left")



# 결과 확인
train_cst_filtered

,기준_날짜,행정동_ID,지하철_승객_수,지하철_승객_수_00시,지하철_승객_수_01시,지하철_승객_수_02시,지하철_승객_수_03시,지하철_승객_수_04시,지하철_승객_수_05시,지하철_승객_수_06시,...,지하철_승객_수_16시,지하철_승객_수_17시,지하철_승객_수_18시,지하철_승객_수_19시,지하철_승객_수_20시,지하철_승객_수_21시,지하철_승객_수_22시,지하철_승객_수_23시,구,자치구_명칭
0,20231230,1114078,12361.0,3.0,0.0,0.0,0.0,2.0,161.0,244.0,...,997.0,952.0,620.0,459.0,318.0,302.0,232.0,83.0,,마포구
1,20231230,1114073,13480.0,0.0,0.0,0.0,0.0,2.0,193.0,238.0,...,1120.0,1036.0,839.0,558.0,486.0,442.0,343.0,191.0,,마포구
2,20231230,1114063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,마포구
3,20231230,1114059,8861.0,0.0,0.0,0.0,0.0,1.0,53.0,117.0,...,659.0,617.0,510.0,389.0,438.0,492.0,368.0,153.0,,마포구
4,20231230,1113073,16264.0,0.0,0.0,0.0,0.0,3.0,178.0,242.0,...,1463.0,1290.0,1028.0,723.0,699.0,512.0,474.0,187.0,,서대문구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12349,20231202,1110061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,도봉구
12350,20231202,1110060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,도봉구
12351,20231202,1110056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,도봉구
12352,20231202,1115069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,양천구
12353,20231202,1115065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,양천구

In [51]:
# NAN 값 여부 확인
train_cst_filtered[train_cst_filtered["자치구_명칭"].isna()]

Empty DataFrame
Columns: [기준_날짜, 행정동_ID, 지하철_승객_수, 지하철_승객_수_00시, 지하철_승객_수_01시, 지하철_승객_수_02시, 지하철_승객_수_03시, 지하철_승객_수_04시, 지하철_승객_수_05시, 지하철_승객_수_06시, 지하철_승객_수_07시, 지하철_승객_수_08시, 지하철_승객_수_09시, 지하철_승객_수_10시, 지하철_승객_수_11시, 지하철_승객_수_12시, 지하철_승객_수_13시, 지하철_승객_수_14시, 지하철_승객_수_15시, 지하철_승객_수_16시, 지하철_승객_수_17시, 지하철_승객_수_18시, 지하철_승객_수_19시, 지하철_승객_수_20시, 지하철_승객_수_21시, 지하철_승객_수_22시, 지하철_승객_수_23시, 구, 자치구_명칭]
Index: []

[0 rows x 29 columns]

In [52]:
train_cst_filtered

,기준_날짜,행정동_ID,지하철_승객_수,지하철_승객_수_00시,지하철_승객_수_01시,지하철_승객_수_02시,지하철_승객_수_03시,지하철_승객_수_04시,지하철_승객_수_05시,지하철_승객_수_06시,...,지하철_승객_수_16시,지하철_승객_수_17시,지하철_승객_수_18시,지하철_승객_수_19시,지하철_승객_수_20시,지하철_승객_수_21시,지하철_승객_수_22시,지하철_승객_수_23시,구,자치구_명칭
0,20231230,1114078,12361.0,3.0,0.0,0.0,0.0,2.0,161.0,244.0,...,997.0,952.0,620.0,459.0,318.0,302.0,232.0,83.0,,마포구
1,20231230,1114073,13480.0,0.0,0.0,0.0,0.0,2.0,193.0,238.0,...,1120.0,1036.0,839.0,558.0,486.0,442.0,343.0,191.0,,마포구
2,20231230,1114063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,마포구
3,20231230,1114059,8861.0,0.0,0.0,0.0,0.0,1.0,53.0,117.0,...,659.0,617.0,510.0,389.0,438.0,492.0,368.0,153.0,,마포구
4,20231230,1113073,16264.0,0.0,0.0,0.0,0.0,3.0,178.0,242.0,...,1463.0,1290.0,1028.0,723.0,699.0,512.0,474.0,187.0,,서대문구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12349,20231202,1110061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,도봉구
12350,20231202,1110060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,도봉구
12351,20231202,1110056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,도봉구
12352,20231202,1115069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,양천구
12353,20231202,1115065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,양천구

In [53]:
# Nan값 0으로
train_cst_filtered = train_cst_filtered.fillna(0)

In [54]:
train_cst_filtered

,기준_날짜,행정동_ID,지하철_승객_수,지하철_승객_수_00시,지하철_승객_수_01시,지하철_승객_수_02시,지하철_승객_수_03시,지하철_승객_수_04시,지하철_승객_수_05시,지하철_승객_수_06시,...,지하철_승객_수_16시,지하철_승객_수_17시,지하철_승객_수_18시,지하철_승객_수_19시,지하철_승객_수_20시,지하철_승객_수_21시,지하철_승객_수_22시,지하철_승객_수_23시,구,자치구_명칭
0,20231230,1114078,12361.0,3.0,0.0,0.0,0.0,2.0,161.0,244.0,...,997.0,952.0,620.0,459.0,318.0,302.0,232.0,83.0,,마포구
1,20231230,1114073,13480.0,0.0,0.0,0.0,0.0,2.0,193.0,238.0,...,1120.0,1036.0,839.0,558.0,486.0,442.0,343.0,191.0,,마포구
2,20231230,1114063,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,마포구
3,20231230,1114059,8861.0,0.0,0.0,0.0,0.0,1.0,53.0,117.0,...,659.0,617.0,510.0,389.0,438.0,492.0,368.0,153.0,,마포구
4,20231230,1113073,16264.0,0.0,0.0,0.0,0.0,3.0,178.0,242.0,...,1463.0,1290.0,1028.0,723.0,699.0,512.0,474.0,187.0,,서대문구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12349,20231202,1110061,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,도봉구
12350,20231202,1110060,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,도봉구
12351,20231202,1110056,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,도봉구
12352,20231202,1115069,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,양천구
12353,20231202,1115065,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,양천구

In [55]:
train_cst_filtered = train_cst_filtered.drop(columns=["기준_날짜"])

In [56]:
train_cst_filtered

,행정동_ID,지하철_승객_수,지하철_승객_수_00시,지하철_승객_수_01시,지하철_승객_수_02시,지하철_승객_수_03시,지하철_승객_수_04시,지하철_승객_수_05시,지하철_승객_수_06시,지하철_승객_수_07시,...,지하철_승객_수_16시,지하철_승객_수_17시,지하철_승객_수_18시,지하철_승객_수_19시,지하철_승객_수_20시,지하철_승객_수_21시,지하철_승객_수_22시,지하철_승객_수_23시,구,자치구_명칭
0,1114078,12361.0,3.0,0.0,0.0,0.0,2.0,161.0,244.0,367.0,...,997.0,952.0,620.0,459.0,318.0,302.0,232.0,83.0,,마포구
1,1114073,13480.0,0.0,0.0,0.0,0.0,2.0,193.0,238.0,394.0,...,1120.0,1036.0,839.0,558.0,486.0,442.0,343.0,191.0,,마포구
2,1114063,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,마포구
3,1114059,8861.0,0.0,0.0,0.0,0.0,1.0,53.0,117.0,214.0,...,659.0,617.0,510.0,389.0,438.0,492.0,368.0,153.0,,마포구
4,1113073,16264.0,0.0,0.0,0.0,0.0,3.0,178.0,242.0,402.0,...,1463.0,1290.0,1028.0,723.0,699.0,512.0,474.0,187.0,,서대문구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12349,1110061,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,도봉구
12350,1110060,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,도봉구
12351,1110056,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,도봉구
12352,1115069,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,양천구
12353,1115065,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,양천구

In [57]:
# 칼럼 이름 변경
train_cst_filtered.columns = [col.split('_')[-1] if '지하철_승객_수' in col else col for col in train_cst_filtered.columns]

train_cst_filtered

,행정동_ID,수,00시,01시,02시,03시,04시,05시,06시,07시,...,16시,17시,18시,19시,20시,21시,22시,23시,구,자치구_명칭
0,1114078,12361.0,3.0,0.0,0.0,0.0,2.0,161.0,244.0,367.0,...,997.0,952.0,620.0,459.0,318.0,302.0,232.0,83.0,,마포구
1,1114073,13480.0,0.0,0.0,0.0,0.0,2.0,193.0,238.0,394.0,...,1120.0,1036.0,839.0,558.0,486.0,442.0,343.0,191.0,,마포구
2,1114063,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,마포구
3,1114059,8861.0,0.0,0.0,0.0,0.0,1.0,53.0,117.0,214.0,...,659.0,617.0,510.0,389.0,438.0,492.0,368.0,153.0,,마포구
4,1113073,16264.0,0.0,0.0,0.0,0.0,3.0,178.0,242.0,402.0,...,1463.0,1290.0,1028.0,723.0,699.0,512.0,474.0,187.0,,서대문구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12349,1110061,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,도봉구
12350,1110060,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,도봉구
12351,1110056,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,도봉구
12352,1115069,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,양천구
12353,1115065,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,양천구

In [58]:
# 자치구 명칭으로 정리
train_cst_filtered["자치구_명칭"] = train_cst_filtered["자치구_명칭"].astype(str)
train_cst_filtered = train_cst_filtered.sort_values(by="자치구_명칭")
train_cst_filtered

,행정동_ID,수,00시,01시,02시,03시,04시,05시,06시,07시,...,16시,17시,18시,19시,20시,21시,22시,23시,구,자치구_명칭
11161,1123051,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,강남구
11239,1123066,14332.0,19.0,0.0,0.0,0.0,0.0,67.0,257.0,780.0,...,914.0,1607.0,3060.0,863.0,616.0,592.0,359.0,111.0,,강남구
8294,1123064,108023.0,384.0,0.0,0.0,0.0,7.0,268.0,926.0,2209.0,...,6994.0,14737.0,20463.0,12446.0,7396.0,6880.0,4972.0,2082.0,,강남구
1092,1123067,22213.0,25.0,0.0,0.0,0.0,4.0,141.0,409.0,1352.0,...,1645.0,2363.0,2421.0,1282.0,1206.0,953.0,1074.0,202.0,,강남구
8293,1123066,14273.0,11.0,0.0,0.0,0.0,0.0,62.0,292.0,761.0,...,926.0,1636.0,2945.0,904.0,610.0,644.0,355.0,111.0,,강남구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2038,1107072,16866.0,25.0,0.0,0.0,0.0,2.0,417.0,802.0,2206.0,...,817.0,899.0,923.0,586.0,464.0,344.0,259.0,166.0,,중랑구
2039,1107068,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,중랑구
2040,1107060,21348.0,60.0,0.0,0.0,0.0,26.0,538.0,938.0,2846.0,...,1130.0,1225.0,1286.0,810.0,658.0,622.0,453.0,248.0,,중랑구
5362,1107073,3588.0,2.0,0.0,0.0,0.0,3.0,75.0,228.0,732.0,...,170.0,198.0,251.0,104.0,61.0,47.0,34.0,16.0,,중랑구
5983,1107069,6280.0,0.0,0.0,0.0,0.0,0.0,111.0,197.0,348.0,...,434.0,397.0,239.0,133.0,120.0,100.0,87.0,32.0,,중랑구

In [59]:
# 행정동_ID 삭제
train_cst_filtered.drop(columns = ["행정동_ID"], inplace=True)

In [62]:
# 숫자형 칼럼만 선택
numeric_cols = train_cst_filtered.select_dtypes(include=['number']).columns


# 합계 계산
train_cst_filtered_sum = train_cst_filtered.groupby("자치구_명칭", as_index=False)[numeric_cols].sum()

# 평균 계산
# 새로운 데이터프레임에 숫자형 칼럼을 date_difference로 나누어 저장
train_cst_filtered_avg = train_cst_filtered_sum.copy()
train_cst_filtered_avg[numeric_cols] = train_cst_filtered_avg[numeric_cols] / date_difference

### 202312월달 지하철 사용인구

## 한달간 평균

In [63]:
# 평균
train_cst_filtered_avg

,자치구_명칭,수,00시,01시,02시,03시,04시,05시,06시,07시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,강남구,481103.862069,1375.413793,1.241379,0.000000,0.034483,38.827586,2089.586207,5162.241379,11807.862069,...,25249.517241,31062.724138,38621.310345,57486.758621,73888.344828,41722.310345,30401.551724,29042.551724,23422.448276,9300.103448
1,강동구,135810.275862,217.689655,0.172414,0.000000,0.000000,12.275862,2450.000000,5059.862069,13089.310345,...,7209.689655,7862.827586,9009.965517,9866.931034,9204.517241,5148.827586,4299.000000,3694.965517,2756.551724,1198.379310
2,강북구,89663.793103,117.206897,0.000000,0.000000,0.000000,7.103448,1836.896552,3942.689655,9785.931034,...,4797.965517,4943.275862,5322.482759,5236.275862,4971.620690,3130.448276,2616.758621,1996.275862,1585.965517,795.620690
3,강서구,212611.862069,294.724138,0.379310,0.310345,0.000000,25.413793,3723.551724,7768.379310,20533.655172,...,10619.310345,11588.413793,13390.655172,16435.931034,17521.586207,8909.620690,7226.827586,6687.103448,5514.793103,2397.000000
4,관악구,251057.758621,708.931034,3.724138,0.000000,0.000000,182.689655,4633.586207,8278.758621,22875.965517,...,12501.379310,12675.793103,13624.068966,14516.103448,14799.862069,9642.172414,8658.793103,8871.103448,7968.448276,4330.551724
5,광진구,191739.241379,595.137931,1.137931,0.034483,0.000000,19.655172,2788.379310,5222.655172,13210.137931,...,9820.413793,10698.344828,12488.241379,13906.310345,14070.965517,9057.275862,8012.793103,7846.517241,6900.448276,3674.551724
6,구로구,172594.000000,256.068966,1.724138,0.034483,0.000000,318.827586,4610.275862,6773.103448,17410.034483,...,7782.551724,8436.068966,9772.517241,12606.620690,15193.482759,7787.862069,5864.896552,5584.620690,4083.034483,1853.620690
7,금천구,57385.172414,59.344828,0.034483,0.000000,0.000000,29.000000,615.310345,1105.344828,2779.862069,...,2360.862069,2820.137931,3958.931034,8630.068966,11365.034483,4643.620690,2848.551724,2257.862069,1330.931034,557.275862
8,노원구,175483.862069,308.793103,0.413793,0.000000,0.000000,85.000000,3585.068966,8093.931034,20025.586207,...,9393.655172,9907.172414,10782.724138,10467.655172,9358.758621,5839.827586,5075.689655,4436.586207,3737.000000,1754.620690
9,도봉구,78420.000000,76.137931,0.103448,0.000000,0.000000,114.724138,2010.379310,4186.551724,10205.931034,...,4006.620690,4175.862069,4465.689655,4259.103448,3833.689655,2181.517241,1624.862069,1410.379310,1092.206897,498.137931
10,동대문구,105314.068966,72.724138,0.068966,0.000000,0.000000,139.758621,1554.137931,2464.586207,6724.137931,...,7055.862069,7823.206897,8697.793103,8876.068966,7956.896552,4088.862069,3357.206897,2853.586207,2128.517241,971.206897
11,동작구,155344.344828,365.344828,0.206897,0.000000,0.000000,28.310345,2503.655172,4640.241379,12597.551724,...,8256.379310,8580.310345,9670.517241,10658.206897,10407.482759,6029.586207,5717.620690,5734.793103,5304.137931,2455.793103
12,마포구,291541.827586,1187.862069,1.241379,0.000000,0.000000,65.965517,3243.620690,5615.551724,14280.862069,...,14379.931034,16505.827586,19748.413793,25490.206897,30562.793103,18847.103448,16826.379310,18604.448276,16958.206897,8671.206897
13,서대문구,101360.586207,284.724138,0.793103,0.000000,0.000000,16.586207,1063.793103,2149.758621,5800.275862,...,5563.206897,6134.068966,7291.931034,9363.241379,10674.275862,4954.965517,4641.379310,4624.034483,4050.517241,1860.965517
14,서초구,355401.620690,1090.620690,2.000000,0.000000,0.000000,20.241379,1466.862069,3741.413793,9439.620690,...,21281.482759,24404.034483,28660.758621,38051.862069,44083.206897,25749.896552,22284.241379,21298.793103,16168.758621,6781.448276
15,성동구,198979.000000,501.724138,0.793103,0.000000,0.000000,55.482759,2116.793103,4352.000000,11566.827586,...,10063.310345,11587.206897,14167.931034,18097.551724,22637.620690,12432.827586,9617.172414,9198.793103,7020.620690,3179.172414
16,성북구,130430.206897,286.758621,0.000000,0.000000,0.000000,66.344828,1997.931034,4582.241379,12132.655172,...,7124.724138,7389.275862,8625.448276,9282.172414,8313.103448,5001.068966,4225.034483,4231.758621,3419.000000,1825.379310
17,송파구,332495.310345,625.000000,1.206897,0.000000,0.000000,43.896552,3430.448276,8462.275862,22421.965517,...,17015.241379,19375.000000,22933.931034,27738.793103,30851.137931,17902.793103,17741.275862,17451.793103,12766.068966,4599.655172
18,양천구,97587.517241,116.172414,0.103448,0.000000,0.000000,8.413793,1934.275862,4264.275862,12195.620690,...,4470.689655,4557.827586,5254.931034,5785.068966,5896.379310,3191.482759,2889.000000,2432.413793,1910.827586,753.586207
19,영등포구,277693.448276,524.344828,1.724138,0.034483,0.000000,116.862069,3915.793103,5698.344828,15360.379310,...,13436.379310,15647.137931,19260.620690,30743.586207,36950.551724,16657.620690,14256.827586,12642.275862,9112.137931,3862.965517
20,용산구,124888.068966,348.620690,0.000000,0.000000,0.000000,20.551724,985.758621,1637.448276,3926.344828,...,6315.068966,8170.517241,10105.241379,12755.413793,14670.689655,8304.448276,7515.482759,7758.137931,6834.896552,3088.241379
21,은평구,142913.379310,137.655172,0.275862,0.068966,0.000000,16.344828,3104.931034,6629.827586,17272.896552,...,7112.172414,7459.482759,8272.068966,7797.482759,6715.448276,4173.241379,3329.275862,2929.896552,2251.620690,960.068966
22,종로구,285842.137931,586.931034,0.448276,0.068966,0.000000,68.724138,1536.344828,1888.310345,3763.551724,...,18908.344828,22434.862069,26147.137931,33443.586207,38391.896552,20316.862069,18588.413793,20082.206897,14669.068966,5889.724138
23,중구,420114.379310,1200.517241,1.896552,0.000000,0.000000,83.275862,2167.275862,3115.137931,7419.655172,...,22519.344828,27125.275862,32244.862069,47732.068966,63715.241379,33204.482759,29243.172414,26193.965517,20082.827586,9160.137931
24,중랑구,93073.413793,126.517241,0.034483,0.000000,0.000000,32.206897,2361.379310,4361.413793,11453.413793,...,4351.379310,4487.068966,4978.896552,5130.241379,4867.103448,3156.103448,2295.517241,2010.379310,1519.827586,770.068966

In [64]:
# 10 이하의 값은 0으로 변환
train_cst_filtered_avg[numeric_cols] = train_cst_filtered_avg[numeric_cols].applymap(lambda x: 0 if x <= 10 else x)
train_cst_filtered_avg

/tmp/ipykernel_5756/197710647.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  train_cst_filtered_avg[numeric_cols] = train_cst_filtered_avg[numeric_cols].applymap(lambda x: 0 if x <= 10 else x)

,자치구_명칭,수,00시,01시,02시,03시,04시,05시,06시,07시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,강남구,481103.862069,1375.413793,0,0,0,38.827586,2089.586207,5162.241379,11807.862069,...,25249.517241,31062.724138,38621.310345,57486.758621,73888.344828,41722.310345,30401.551724,29042.551724,23422.448276,9300.103448
1,강동구,135810.275862,217.689655,0,0,0,12.275862,2450.000000,5059.862069,13089.310345,...,7209.689655,7862.827586,9009.965517,9866.931034,9204.517241,5148.827586,4299.000000,3694.965517,2756.551724,1198.379310
2,강북구,89663.793103,117.206897,0,0,0,0.000000,1836.896552,3942.689655,9785.931034,...,4797.965517,4943.275862,5322.482759,5236.275862,4971.620690,3130.448276,2616.758621,1996.275862,1585.965517,795.620690
3,강서구,212611.862069,294.724138,0,0,0,25.413793,3723.551724,7768.379310,20533.655172,...,10619.310345,11588.413793,13390.655172,16435.931034,17521.586207,8909.620690,7226.827586,6687.103448,5514.793103,2397.000000
4,관악구,251057.758621,708.931034,0,0,0,182.689655,4633.586207,8278.758621,22875.965517,...,12501.379310,12675.793103,13624.068966,14516.103448,14799.862069,9642.172414,8658.793103,8871.103448,7968.448276,4330.551724
5,광진구,191739.241379,595.137931,0,0,0,19.655172,2788.379310,5222.655172,13210.137931,...,9820.413793,10698.344828,12488.241379,13906.310345,14070.965517,9057.275862,8012.793103,7846.517241,6900.448276,3674.551724
6,구로구,172594.000000,256.068966,0,0,0,318.827586,4610.275862,6773.103448,17410.034483,...,7782.551724,8436.068966,9772.517241,12606.620690,15193.482759,7787.862069,5864.896552,5584.620690,4083.034483,1853.620690
7,금천구,57385.172414,59.344828,0,0,0,29.000000,615.310345,1105.344828,2779.862069,...,2360.862069,2820.137931,3958.931034,8630.068966,11365.034483,4643.620690,2848.551724,2257.862069,1330.931034,557.275862
8,노원구,175483.862069,308.793103,0,0,0,85.000000,3585.068966,8093.931034,20025.586207,...,9393.655172,9907.172414,10782.724138,10467.655172,9358.758621,5839.827586,5075.689655,4436.586207,3737.000000,1754.620690
9,도봉구,78420.000000,76.137931,0,0,0,114.724138,2010.379310,4186.551724,10205.931034,...,4006.620690,4175.862069,4465.689655,4259.103448,3833.689655,2181.517241,1624.862069,1410.379310,1092.206897,498.137931
10,동대문구,105314.068966,72.724138,0,0,0,139.758621,1554.137931,2464.586207,6724.137931,...,7055.862069,7823.206897,8697.793103,8876.068966,7956.896552,4088.862069,3357.206897,2853.586207,2128.517241,971.206897
11,동작구,155344.344828,365.344828,0,0,0,28.310345,2503.655172,4640.241379,12597.551724,...,8256.379310,8580.310345,9670.517241,10658.206897,10407.482759,6029.586207,5717.620690,5734.793103,5304.137931,2455.793103
12,마포구,291541.827586,1187.862069,0,0,0,65.965517,3243.620690,5615.551724,14280.862069,...,14379.931034,16505.827586,19748.413793,25490.206897,30562.793103,18847.103448,16826.379310,18604.448276,16958.206897,8671.206897
13,서대문구,101360.586207,284.724138,0,0,0,16.586207,1063.793103,2149.758621,5800.275862,...,5563.206897,6134.068966,7291.931034,9363.241379,10674.275862,4954.965517,4641.379310,4624.034483,4050.517241,1860.965517
14,서초구,355401.620690,1090.620690,0,0,0,20.241379,1466.862069,3741.413793,9439.620690,...,21281.482759,24404.034483,28660.758621,38051.862069,44083.206897,25749.896552,22284.241379,21298.793103,16168.758621,6781.448276
15,성동구,198979.000000,501.724138,0,0,0,55.482759,2116.793103,4352.000000,11566.827586,...,10063.310345,11587.206897,14167.931034,18097.551724,22637.620690,12432.827586,9617.172414,9198.793103,7020.620690,3179.172414
16,성북구,130430.206897,286.758621,0,0,0,66.344828,1997.931034,4582.241379,12132.655172,...,7124.724138,7389.275862,8625.448276,9282.172414,8313.103448,5001.068966,4225.034483,4231.758621,3419.000000,1825.379310
17,송파구,332495.310345,625.000000,0,0,0,43.896552,3430.448276,8462.275862,22421.965517,...,17015.241379,19375.000000,22933.931034,27738.793103,30851.137931,17902.793103,17741.275862,17451.793103,12766.068966,4599.655172
18,양천구,97587.517241,116.172414,0,0,0,0.000000,1934.275862,4264.275862,12195.620690,...,4470.689655,4557.827586,5254.931034,5785.068966,5896.379310,3191.482759,2889.000000,2432.413793,1910.827586,753.586207
19,영등포구,277693.448276,524.344828,0,0,0,116.862069,3915.793103,5698.344828,15360.379310,...,13436.379310,15647.137931,19260.620690,30743.586207,36950.551724,16657.620690,14256.827586,12642.275862,9112.137931,3862.965517
20,용산구,124888.068966,348.620690,0,0,0,20.551724,985.758621,1637.448276,3926.344828,...,6315.068966,8170.517241,10105.241379,12755.413793,14670.689655,8304.448276,7515.482759,7758.137931,6834.896552,3088.241379
21,은평구,142913.379310,137.655172,0,0,0,16.344828,3104.931034,6629.827586,17272.896552,...,7112.172414,7459.482759,8272.068966,7797.482759,6715.448276,4173.241379,3329.275862,2929.896552,2251.620690,960.068966
22,종로구,285842.137931,586.931034,0,0,0,68.724138,1536.344828,1888.310345,3763.551724,...,18908.344828,22434.862069,26147.137931,33443.586207,38391.896552,20316.862069,18588.413793,20082.206897,14669.068966,5889.724138
23,중구,420114.379310,1200.517241,0,0,0,83.275862,2167.275862,3115.137931,7419.655172,...,22519.344828,27125.275862,32244.862069,47732.068966,63715.241379,33204.482759,29243.172414,26193.965517,20082.827586,9160.137931
24,중랑구,93073.413793,126.517241,0,0,0,32.206897,2361.379310,4361.413793,11453.413793,...,4351.379310,4487.068966,4978.896552,5130.241379,4867.103448,3156.103448,2295.517241,2010.379310,1519.827586,770.068966

-----------------------------
# 구를 sort_value로 정렬하고, 구를 구_ID로 바꾼다

In [65]:
df_summary = train_cst_filtered_avg.sort_values("자치구_명칭")
df_summary.head()

,자치구_명칭,수,00시,01시,02시,03시,04시,05시,06시,07시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,강남구,481103.862069,1375.413793,0,0,0,38.827586,2089.586207,5162.241379,11807.862069,...,25249.517241,31062.724138,38621.310345,57486.758621,73888.344828,41722.310345,30401.551724,29042.551724,23422.448276,9300.103448
1,강동구,135810.275862,217.689655,0,0,0,12.275862,2450.000000,5059.862069,13089.310345,...,7209.689655,7862.827586,9009.965517,9866.931034,9204.517241,5148.827586,4299.000000,3694.965517,2756.551724,1198.379310
2,강북구,89663.793103,117.206897,0,0,0,0.000000,1836.896552,3942.689655,9785.931034,...,4797.965517,4943.275862,5322.482759,5236.275862,4971.620690,3130.448276,2616.758621,1996.275862,1585.965517,795.620690
3,강서구,212611.862069,294.724138,0,0,0,25.413793,3723.551724,7768.379310,20533.655172,...,10619.310345,11588.413793,13390.655172,16435.931034,17521.586207,8909.620690,7226.827586,6687.103448,5514.793103,2397.000000
4,관악구,251057.758621,708.931034,0,0,0,182.689655,4633.586207,8278.758621,22875.965517,...,12501.379310,12675.793103,13624.068966,14516.103448,14799.862069,9642.172414,8658.793103,8871.103448,7968.448276,4330.551724

In [68]:
df_summary = df_summary.rename(columns={"자치구_명칭": "구"})
df_summary

,구,수,00시,01시,02시,03시,04시,05시,06시,07시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,강남구,481103.862069,1375.413793,0,0,0,38.827586,2089.586207,5162.241379,11807.862069,...,25249.517241,31062.724138,38621.310345,57486.758621,73888.344828,41722.310345,30401.551724,29042.551724,23422.448276,9300.103448
1,강동구,135810.275862,217.689655,0,0,0,12.275862,2450.000000,5059.862069,13089.310345,...,7209.689655,7862.827586,9009.965517,9866.931034,9204.517241,5148.827586,4299.000000,3694.965517,2756.551724,1198.379310
2,강북구,89663.793103,117.206897,0,0,0,0.000000,1836.896552,3942.689655,9785.931034,...,4797.965517,4943.275862,5322.482759,5236.275862,4971.620690,3130.448276,2616.758621,1996.275862,1585.965517,795.620690
3,강서구,212611.862069,294.724138,0,0,0,25.413793,3723.551724,7768.379310,20533.655172,...,10619.310345,11588.413793,13390.655172,16435.931034,17521.586207,8909.620690,7226.827586,6687.103448,5514.793103,2397.000000
4,관악구,251057.758621,708.931034,0,0,0,182.689655,4633.586207,8278.758621,22875.965517,...,12501.379310,12675.793103,13624.068966,14516.103448,14799.862069,9642.172414,8658.793103,8871.103448,7968.448276,4330.551724
5,광진구,191739.241379,595.137931,0,0,0,19.655172,2788.379310,5222.655172,13210.137931,...,9820.413793,10698.344828,12488.241379,13906.310345,14070.965517,9057.275862,8012.793103,7846.517241,6900.448276,3674.551724
6,구로구,172594.000000,256.068966,0,0,0,318.827586,4610.275862,6773.103448,17410.034483,...,7782.551724,8436.068966,9772.517241,12606.620690,15193.482759,7787.862069,5864.896552,5584.620690,4083.034483,1853.620690
7,금천구,57385.172414,59.344828,0,0,0,29.000000,615.310345,1105.344828,2779.862069,...,2360.862069,2820.137931,3958.931034,8630.068966,11365.034483,4643.620690,2848.551724,2257.862069,1330.931034,557.275862
8,노원구,175483.862069,308.793103,0,0,0,85.000000,3585.068966,8093.931034,20025.586207,...,9393.655172,9907.172414,10782.724138,10467.655172,9358.758621,5839.827586,5075.689655,4436.586207,3737.000000,1754.620690
9,도봉구,78420.000000,76.137931,0,0,0,114.724138,2010.379310,4186.551724,10205.931034,...,4006.620690,4175.862069,4465.689655,4259.103448,3833.689655,2181.517241,1624.862069,1410.379310,1092.206897,498.137931
10,동대문구,105314.068966,72.724138,0,0,0,139.758621,1554.137931,2464.586207,6724.137931,...,7055.862069,7823.206897,8697.793103,8876.068966,7956.896552,4088.862069,3357.206897,2853.586207,2128.517241,971.206897
11,동작구,155344.344828,365.344828,0,0,0,28.310345,2503.655172,4640.241379,12597.551724,...,8256.379310,8580.310345,9670.517241,10658.206897,10407.482759,6029.586207,5717.620690,5734.793103,5304.137931,2455.793103
12,마포구,291541.827586,1187.862069,0,0,0,65.965517,3243.620690,5615.551724,14280.862069,...,14379.931034,16505.827586,19748.413793,25490.206897,30562.793103,18847.103448,16826.379310,18604.448276,16958.206897,8671.206897
13,서대문구,101360.586207,284.724138,0,0,0,16.586207,1063.793103,2149.758621,5800.275862,...,5563.206897,6134.068966,7291.931034,9363.241379,10674.275862,4954.965517,4641.379310,4624.034483,4050.517241,1860.965517
14,서초구,355401.620690,1090.620690,0,0,0,20.241379,1466.862069,3741.413793,9439.620690,...,21281.482759,24404.034483,28660.758621,38051.862069,44083.206897,25749.896552,22284.241379,21298.793103,16168.758621,6781.448276
15,성동구,198979.000000,501.724138,0,0,0,55.482759,2116.793103,4352.000000,11566.827586,...,10063.310345,11587.206897,14167.931034,18097.551724,22637.620690,12432.827586,9617.172414,9198.793103,7020.620690,3179.172414
16,성북구,130430.206897,286.758621,0,0,0,66.344828,1997.931034,4582.241379,12132.655172,...,7124.724138,7389.275862,8625.448276,9282.172414,8313.103448,5001.068966,4225.034483,4231.758621,3419.000000,1825.379310
17,송파구,332495.310345,625.000000,0,0,0,43.896552,3430.448276,8462.275862,22421.965517,...,17015.241379,19375.000000,22933.931034,27738.793103,30851.137931,17902.793103,17741.275862,17451.793103,12766.068966,4599.655172
18,양천구,97587.517241,116.172414,0,0,0,0.000000,1934.275862,4264.275862,12195.620690,...,4470.689655,4557.827586,5254.931034,5785.068966,5896.379310,3191.482759,2889.000000,2432.413793,1910.827586,753.586207
19,영등포구,277693.448276,524.344828,0,0,0,116.862069,3915.793103,5698.344828,15360.379310,...,13436.379310,15647.137931,19260.620690,30743.586207,36950.551724,16657.620690,14256.827586,12642.275862,9112.137931,3862.965517
20,용산구,124888.068966,348.620690,0,0,0,20.551724,985.758621,1637.448276,3926.344828,...,6315.068966,8170.517241,10105.241379,12755.413793,14670.689655,8304.448276,7515.482759,7758.137931,6834.896552,3088.241379
21,은평구,142913.379310,137.655172,0,0,0,16.344828,3104.931034,6629.827586,17272.896552,...,7112.172414,7459.482759,8272.068966,7797.482759,6715.448276,4173.241379,3329.275862,2929.896552,2251.620690,960.068966
22,종로구,285842.137931,586.931034,0,0,0,68.724138,1536.344828,1888.310345,3763.551724,...,18908.344828,22434.862069,26147.137931,33443.586207,38391.896552,20316.862069,18588.413793,20082.206897,14669.068966,5889.724138
23,중구,420114.379310,1200.517241,0,0,0,83.275862,2167.275862,3115.137931,7419.655172,...,22519.344828,27125.275862,32244.862069,47732.068966,63715.241379,33204.482759,29243.172414,26193.965517,20082.827586,9160.137931
24,중랑구,93073.413793,126.517241,0,0,0,32.206897,2361.379310,4361.413793,11453.413793,...,4351.379310,4487.068966,4978.896552,5130.241379,4867.103448,3156.103448,2295.517241,2010.379310,1519.827586,770.068966

In [77]:
df_summary = df_summary.applymap(lambda x: int(x) if isinstance(x, float) else x)
df_summary

/tmp/ipykernel_5756/3575336405.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_summary = df_summary.applymap(lambda x: int(x) if isinstance(x, float) else x)

,구,수,00시,01시,02시,03시,04시,05시,06시,07시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,강남구,481103,1375,0,0,0,38,2089,5162,11807,...,25249,31062,38621,57486,73888,41722,30401,29042,23422,9300
1,강동구,135810,217,0,0,0,12,2450,5059,13089,...,7209,7862,9009,9866,9204,5148,4299,3694,2756,1198
2,강북구,89663,117,0,0,0,0,1836,3942,9785,...,4797,4943,5322,5236,4971,3130,2616,1996,1585,795
3,강서구,212611,294,0,0,0,25,3723,7768,20533,...,10619,11588,13390,16435,17521,8909,7226,6687,5514,2397
4,관악구,251057,708,0,0,0,182,4633,8278,22875,...,12501,12675,13624,14516,14799,9642,8658,8871,7968,4330
5,광진구,191739,595,0,0,0,19,2788,5222,13210,...,9820,10698,12488,13906,14070,9057,8012,7846,6900,3674
6,구로구,172594,256,0,0,0,318,4610,6773,17410,...,7782,8436,9772,12606,15193,7787,5864,5584,4083,1853
7,금천구,57385,59,0,0,0,29,615,1105,2779,...,2360,2820,3958,8630,11365,4643,2848,2257,1330,557
8,노원구,175483,308,0,0,0,85,3585,8093,20025,...,9393,9907,10782,10467,9358,5839,5075,4436,3737,1754
9,도봉구,78420,76,0,0,0,114,2010,4186,10205,...,4006,4175,4465,4259,3833,2181,1624,1410,1092,498
10,동대문구,105314,72,0,0,0,139,1554,2464,6724,...,7055,7823,8697,8876,7956,4088,3357,2853,2128,971
11,동작구,155344,365,0,0,0,28,2503,4640,12597,...,8256,8580,9670,10658,10407,6029,5717,5734,5304,2455
12,마포구,291541,1187,0,0,0,65,3243,5615,14280,...,14379,16505,19748,25490,30562,18847,16826,18604,16958,8671
13,서대문구,101360,284,0,0,0,16,1063,2149,5800,...,5563,6134,7291,9363,10674,4954,4641,4624,4050,1860
14,서초구,355401,1090,0,0,0,20,1466,3741,9439,...,21281,24404,28660,38051,44083,25749,22284,21298,16168,6781
15,성동구,198979,501,0,0,0,55,2116,4352,11566,...,10063,11587,14167,18097,22637,12432,9617,9198,7020,3179
16,성북구,130430,286,0,0,0,66,1997,4582,12132,...,7124,7389,8625,9282,8313,5001,4225,4231,3419,1825
17,송파구,332495,625,0,0,0,43,3430,8462,22421,...,17015,19375,22933,27738,30851,17902,17741,17451,12766,4599
18,양천구,97587,116,0,0,0,0,1934,4264,12195,...,4470,4557,5254,5785,5896,3191,2889,2432,1910,753
19,영등포구,277693,524,0,0,0,116,3915,5698,15360,...,13436,15647,19260,30743,36950,16657,14256,12642,9112,3862
20,용산구,124888,348,0,0,0,20,985,1637,3926,...,6315,8170,10105,12755,14670,8304,7515,7758,6834,3088
21,은평구,142913,137,0,0,0,16,3104,6629,17272,...,7112,7459,8272,7797,6715,4173,3329,2929,2251,960
22,종로구,285842,586,0,0,0,68,1536,1888,3763,...,18908,22434,26147,33443,38391,20316,18588,20082,14669,5889
23,중구,420114,1200,0,0,0,83,2167,3115,7419,...,22519,27125,32244,47732,63715,33204,29243,26193,20082,9160
24,중랑구,93073,126,0,0,0,32,2361,4361,11453,...,4351,4487,4978,5130,4867,3156,2295,2010,1519,770

In [83]:
df_summary = df_summary.drop(columns=["수"])

In [84]:
import mysql.connector

gu_list = ['강남구', '강동구', '강북구', '강서구', '관악구', 
           '광진구', '구로구', '금천구', '노원구', '도봉구', 
           '동대문구', '동작구', '마포구', '서대문구', '서초구', 
           '성동구', '성북구', '송파구', '양천구', '영등포구', 
           '용산구', '은평구', '종로구', '중구', '중랑구']

conn = mysql.connector.connect(
host = "database-1.cb4o0sikaygu.ap-northeast-2.rds.amazonaws.com",
port = 3306,
user = "root",
password = "root762462",
database = "edadb"
)

In [85]:
df_db = df_summary.copy()
for i in range(len(gu_list)):
    df_db.iloc[i,0] = i

df_db['구']=df_db['구'].astype(int)

-------------
# 테이블 수정

In [86]:
##### 바꿀 테이블로 이름 바꾸기.
##### 바꿀 테이블로 이름 바꾸기.
sql = "insert into subway_population values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
cursor = conn.cursor(buffered=True)

In [87]:
import numpy as np

def convert_types(row):
    new_row = []
    for item in row:
        if isinstance(item, (np.int64, np.integer)):
            new_row.append(int(item))
        elif isinstance(item, (np.float64, np.floating)):
            new_row.append(float(item))
        else:
            new_row.append(item)
    return tuple(new_row)

data = [convert_types(row) for row in df_db.values]

cursor.executemany(sql, data)
conn.commit()