In [2]:
import pandas as pd

In [3]:
gu_accident_path='/home/dong/dev_ws/eda/project_test/p_data/시간대별_교통사고.csv'

gu_accident = pd.read_csv(gu_accident_path, header=2,  usecols=lambda col: col != '자치구별(1)', encoding='utf-8')

gu_accident

,자치구별(2),항목,소계,00시-02시,02시-04시,04시-06시,06시-08시,08시-10시,10시-12시,12시-14시,14시-16시,16시-18시,18시-20시,20시-22시,22시-24시
0,소계,발생건수,33811,1443,866,959,1719,3457,3519,3690,3836,4249,4510,3145,2418
1,소계,사망자수,180,21,14,13,14,13,13,10,14,14,13,13,28
2,소계,부상자수,45414,2058,1197,1298,2197,4531,4703,4998,5216,5652,6019,4196,3349
3,종로구,발생건수,988,49,28,27,36,82,114,120,125,109,122,91,85
4,종로구,사망자수,8,1,-,-,-,-,-,1,-,2,-,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,송파구,사망자수,10,-,-,1,-,-,1,2,1,-,1,-,4
74,송파구,부상자수,3603,136,96,99,196,343,353,408,391,453,500,347,281
75,강동구,발생건수,1185,48,20,23,68,106,140,125,171,155,154,110,65
76,강동구,사망자수,4,2,1,-,-,-,1,-,-,-,-,-,-
77,강동구,부상자수,1522,56,25,30,93,139,181,154,221,207,206,126,84

In [4]:
gu_accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자치구별(2)  78 non-null     object
 1   항목       78 non-null     object
 2   소계       78 non-null     int64
 3   00시-02시  78 non-null     object
 4   02시-04시  78 non-null     object
 5   04시-06시  78 non-null     object
 6   06시-08시  78 non-null     object
 7   08시-10시  78 non-null     object
 8   10시-12시  78 non-null     object
 9   12시-14시  78 non-null     object
 10  14시-16시  78 non-null     object
 11  16시-18시  78 non-null     object
 12  18시-20시  78 non-null     object
 13  20시-22시  78 non-null     object
 14  22시-24시  78 non-null     object
dtypes: int64(1), object(14)
memory usage: 9.3+ KB

In [5]:
# -값 0으로 바꿔주기
gu_accident_sol= gu_accident.columns[3:]

for name in gu_accident_sol:
    gu_accident[name] = gu_accident[name].str.replace('-','0')

gu_accident

,자치구별(2),항목,소계,00시-02시,02시-04시,04시-06시,06시-08시,08시-10시,10시-12시,12시-14시,14시-16시,16시-18시,18시-20시,20시-22시,22시-24시
0,소계,발생건수,33811,1443,866,959,1719,3457,3519,3690,3836,4249,4510,3145,2418
1,소계,사망자수,180,21,14,13,14,13,13,10,14,14,13,13,28
2,소계,부상자수,45414,2058,1197,1298,2197,4531,4703,4998,5216,5652,6019,4196,3349
3,종로구,발생건수,988,49,28,27,36,82,114,120,125,109,122,91,85
4,종로구,사망자수,8,1,0,0,0,0,0,1,0,2,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,송파구,사망자수,10,0,0,1,0,0,1,2,1,0,1,0,4
74,송파구,부상자수,3603,136,96,99,196,343,353,408,391,453,500,347,281
75,강동구,발생건수,1185,48,20,23,68,106,140,125,171,155,154,110,65
76,강동구,사망자수,4,2,1,0,0,0,1,0,0,0,0,0,0
77,강동구,부상자수,1522,56,25,30,93,139,181,154,221,207,206,126,84

In [6]:
#혹시 모르니깐 nan값 0으로
gu_accident = gu_accident.fillna(0)
gu_accident

,자치구별(2),항목,소계,00시-02시,02시-04시,04시-06시,06시-08시,08시-10시,10시-12시,12시-14시,14시-16시,16시-18시,18시-20시,20시-22시,22시-24시
0,소계,발생건수,33811,1443,866,959,1719,3457,3519,3690,3836,4249,4510,3145,2418
1,소계,사망자수,180,21,14,13,14,13,13,10,14,14,13,13,28
2,소계,부상자수,45414,2058,1197,1298,2197,4531,4703,4998,5216,5652,6019,4196,3349
3,종로구,발생건수,988,49,28,27,36,82,114,120,125,109,122,91,85
4,종로구,사망자수,8,1,0,0,0,0,0,1,0,2,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,송파구,사망자수,10,0,0,1,0,0,1,2,1,0,1,0,4
74,송파구,부상자수,3603,136,96,99,196,343,353,408,391,453,500,347,281
75,강동구,발생건수,1185,48,20,23,68,106,140,125,171,155,154,110,65
76,강동구,사망자수,4,2,1,0,0,0,1,0,0,0,0,0,0
77,강동구,부상자수,1522,56,25,30,93,139,181,154,221,207,206,126,84

In [7]:
gu_accident = gu_accident.astype(dtype={'00시-02시':'int',
                                      '02시-04시':'int',
                                      '04시-06시':'int',
                                      '06시-08시':'int',
                                      '08시-10시':'int',
                                      '10시-12시':'int',
                                      '12시-14시':'int',
                                      '14시-16시':'int',
                                      '16시-18시':'int',
                                      '18시-20시':'int',
                                      '20시-22시':'int',
                                      '22시-24시':'int'
                                      },
                                      errors='raise',
                                      copy=True)
gu_accident.dtypes

자치구별(2)    object
항목         object
소계          int64
00시-02시     int64
02시-04시     int64
04시-06시     int64
06시-08시     int64
08시-10시     int64
10시-12시     int64
12시-14시     int64
14시-16시     int64
16시-18시     int64
18시-20시     int64
20시-22시     int64
22시-24시     int64
dtype: object

In [8]:
gu_accident.rename(columns={'자치구별(2)':'구', '소계':'총 발생건수',
                            '00시-02시': '0시', '02시-04시': '2시', '04시-06시': '4시',
                            '06시-08시': '6시', '08시-10시': '8시', '10시-12시': '10시',
                            '12시-14시': '12시', '14시-16시': '14시', '16시-18시': '16시',
                            '18시-20시': '18시', '20시-22시': '20시', '22시-24시': '22시'
                            },inplace=True)
gu_accident

,구,항목,총 발생건수,0시,2시,4시,6시,8시,10시,12시,14시,16시,18시,20시,22시
0,소계,발생건수,33811,1443,866,959,1719,3457,3519,3690,3836,4249,4510,3145,2418
1,소계,사망자수,180,21,14,13,14,13,13,10,14,14,13,13,28
2,소계,부상자수,45414,2058,1197,1298,2197,4531,4703,4998,5216,5652,6019,4196,3349
3,종로구,발생건수,988,49,28,27,36,82,114,120,125,109,122,91,85
4,종로구,사망자수,8,1,0,0,0,0,0,1,0,2,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,송파구,사망자수,10,0,0,1,0,0,1,2,1,0,1,0,4
74,송파구,부상자수,3603,136,96,99,196,343,353,408,391,453,500,347,281
75,강동구,발생건수,1185,48,20,23,68,106,140,125,171,155,154,110,65
76,강동구,사망자수,4,2,1,0,0,0,1,0,0,0,0,0,0
77,강동구,부상자수,1522,56,25,30,93,139,181,154,221,207,206,126,84

In [9]:
df_gu_accident = gu_accident.iloc[3:,:]
df_gu_accident

,구,항목,총 발생건수,0시,2시,4시,6시,8시,10시,12시,14시,16시,18시,20시,22시
3,종로구,발생건수,988,49,28,27,36,82,114,120,125,109,122,91,85
4,종로구,사망자수,8,1,0,0,0,0,0,1,0,2,0,2,2
5,종로구,부상자수,1331,70,38,39,45,120,132,161,168,138,174,126,120
6,중구,발생건수,931,42,25,16,37,85,96,108,116,133,110,93,70
7,중구,사망자수,3,0,0,0,0,0,1,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,송파구,사망자수,10,0,0,1,0,0,1,2,1,0,1,0,4
74,송파구,부상자수,3603,136,96,99,196,343,353,408,391,453,500,347,281
75,강동구,발생건수,1185,48,20,23,68,106,140,125,171,155,154,110,65
76,강동구,사망자수,4,2,1,0,0,0,1,0,0,0,0,0,0
77,강동구,부상자수,1522,56,25,30,93,139,181,154,221,207,206,126,84

In [10]:
[df_gu_accident['항목'] == '발생건수']

[3      True
 4     False
 5     False
 6      True
 7     False
       ...
 73    False
 74    False
 75     True
 76    False
 77    False
 Name: 항목, Length: 75, dtype: bool]

In [11]:
df_gu_accident = df_gu_accident[df_gu_accident['항목'] == '발생건수']
df_gu_accident

,구,항목,총 발생건수,0시,2시,4시,6시,8시,10시,12시,14시,16시,18시,20시,22시
3,종로구,발생건수,988,49,28,27,36,82,114,120,125,109,122,91,85
6,중구,발생건수,931,42,25,16,37,85,96,108,116,133,110,93,70
9,용산구,발생건수,996,49,32,31,52,89,98,102,110,119,137,109,68
12,성동구,발생건수,919,40,19,26,46,98,97,99,115,121,122,69,67
15,광진구,발생건수,717,31,24,19,39,88,80,51,75,88,91,84,47
18,동대문구,발생건수,1674,42,32,41,92,197,190,211,198,223,209,136,103
21,중랑구,발생건수,1268,50,31,36,55,126,125,138,157,170,171,135,74
24,성북구,발생건수,1256,50,24,25,56,140,142,141,143,168,166,117,84
27,강북구,발생건수,972,38,32,30,50,83,95,117,118,116,138,81,74
30,도봉구,발생건수,530,21,19,14,23,44,67,60,51,66,81,50,34
33,노원구,발생건수,1366,65,31,37,65,152,129,140,173,188,168,138,80
36,은평구,발생건수,1039,49,28,31,56,113,109,91,118,126,132,111,75
39,서대문구,발생건수,916,39,16,20,57,100,104,98,94,109,123,88,68
42,마포구,발생건수,1250,66,50,52,67,121,115,145,134,128,150,124,98
45,양천구,발생건수,1221,38,25,33,94,142,121,122,138,157,166,106,79
48,강서구,발생건수,1518,62,39,40,81,164,145,156,178,201,201,137,114
51,구로구,발생건수,1359,50,26,49,54,139,155,149,150,169,201,126,91
54,금천구,발생건수,876,37,18,33,41,97,90,84,101,109,143,63,60
57,영등포구,발생건수,1900,98,47,63,105,204,195,186,188,231,251,185,147
60,동작구,발생건수,1242,61,33,34,60,141,111,135,142,152,164,114,95
63,관악구,발생건수,980,47,42,38,52,101,93,102,97,100,135,90,83
66,서초구,발생건수,2168,83,49,62,104,235,252,252,230,286,280,178,157
69,강남구,발생건수,3926,194,107,108,178,355,407,466,427,491,525,361,307
72,송파구,발생건수,2614,94,69,71,151,255,249,292,287,334,370,249,193
75,강동구,발생건수,1185,48,20,23,68,106,140,125,171,155,154,110,65

In [12]:
car_accident=df_gu_accident.sort_values(by='구', ascending=True)
car_accident

,구,항목,총 발생건수,0시,2시,4시,6시,8시,10시,12시,14시,16시,18시,20시,22시
69,강남구,발생건수,3926,194,107,108,178,355,407,466,427,491,525,361,307
75,강동구,발생건수,1185,48,20,23,68,106,140,125,171,155,154,110,65
27,강북구,발생건수,972,38,32,30,50,83,95,117,118,116,138,81,74
48,강서구,발생건수,1518,62,39,40,81,164,145,156,178,201,201,137,114
63,관악구,발생건수,980,47,42,38,52,101,93,102,97,100,135,90,83
15,광진구,발생건수,717,31,24,19,39,88,80,51,75,88,91,84,47
51,구로구,발생건수,1359,50,26,49,54,139,155,149,150,169,201,126,91
54,금천구,발생건수,876,37,18,33,41,97,90,84,101,109,143,63,60
33,노원구,발생건수,1366,65,31,37,65,152,129,140,173,188,168,138,80
30,도봉구,발생건수,530,21,19,14,23,44,67,60,51,66,81,50,34
18,동대문구,발생건수,1674,42,32,41,92,197,190,211,198,223,209,136,103
60,동작구,발생건수,1242,61,33,34,60,141,111,135,142,152,164,114,95
42,마포구,발생건수,1250,66,50,52,67,121,115,145,134,128,150,124,98
39,서대문구,발생건수,916,39,16,20,57,100,104,98,94,109,123,88,68
66,서초구,발생건수,2168,83,49,62,104,235,252,252,230,286,280,178,157
12,성동구,발생건수,919,40,19,26,46,98,97,99,115,121,122,69,67
24,성북구,발생건수,1256,50,24,25,56,140,142,141,143,168,166,117,84
72,송파구,발생건수,2614,94,69,71,151,255,249,292,287,334,370,249,193
45,양천구,발생건수,1221,38,25,33,94,142,121,122,138,157,166,106,79
57,영등포구,발생건수,1900,98,47,63,105,204,195,186,188,231,251,185,147
9,용산구,발생건수,996,49,32,31,52,89,98,102,110,119,137,109,68
36,은평구,발생건수,1039,49,28,31,56,113,109,91,118,126,132,111,75
3,종로구,발생건수,988,49,28,27,36,82,114,120,125,109,122,91,85
6,중구,발생건수,931,42,25,16,37,85,96,108,116,133,110,93,70
21,중랑구,발생건수,1268,50,31,36,55,126,125,138,157,170,171,135,74

In [12]:
car_accident.to_csv("시간대별_구별_교통사고.csv", index=False, encoding='utf-8')

In [16]:
# 필요한 열만 선택해서 새로운 데이터프레임 만들기
night_car_accident = car_accident[['구', '0시', '2시', '4시']].copy()

# 심야 발생건수 계산해서 새로운 열로 추가
night_car_accident['심야 교통사고'] = night_car_accident['0시'] + night_car_accident['2시'] + night_car_accident['4시']

# 기존 시간대 열은 제거하고 '구', '심야 발생건수'만 남기기
night_car_accident = night_car_accident[['구', '심야 교통사고']]

night_car_accident.reset_index(drop=True, inplace=True)
night_car_accident.head()

     구  심야 교통사고
0  강남구      409
1  강동구       91
2  강북구      100
3  강서구      141
4  관악구      127

-----------------------------
# 구를 sort_value로 정렬하고, 구를 구_ID로 바꾼다

In [18]:
night_car_accident.head()

     구  심야 교통사고
0  강남구      409
1  강동구       91
2  강북구      100
3  강서구      141
4  관악구      127

In [19]:
night_car_accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   구        25 non-null     object
 1   심야 교통사고  25 non-null     int64
dtypes: int64(1), object(1)
memory usage: 528.0+ bytes

In [23]:
import mysql.connector

gu_list = ['강남구', '강동구', '강북구', '강서구', '관악구', 
           '광진구', '구로구', '금천구', '노원구', '도봉구', 
           '동대문구', '동작구', '마포구', '서대문구', '서초구', 
           '성동구', '성북구', '송파구', '양천구', '영등포구', 
           '용산구', '은평구', '종로구', '중구', '중랑구']

conn = mysql.connector.connect(
host = "database-1.cb4o0sikaygu.ap-northeast-2.rds.amazonaws.com",
port = 3306,
user = "root",
password = "root762462",
database = "edadb"
)

In [21]:
df_db =night_car_accident.copy()
for i in range(len(gu_list)):
    df_db.iloc[i,0] = i

df_db['구']=df_db['구'].astype(int)

-------------
# 테이블 수정

In [24]:
##### 바꿀 테이블로 이름 바꾸기.
sql = "insert into car_accident values (%s,%s)"
cursor = conn.cursor(buffered=True)

In [25]:
import numpy as np

def convert_types(row):
    new_row = []
    for item in row:
        if isinstance(item, (np.int64, np.integer)):
            new_row.append(int(item))
        elif isinstance(item, (np.float64, np.floating)):
            new_row.append(float(item))
        else:
            new_row.append(item)
    return tuple(new_row)

data = [convert_types(row) for row in df_db.values]

cursor.executemany(sql, data)
conn.commit()