In [2]:
import pandas as pd
df_raw = pd.read_csv("../data/서울시 장애유형별. 장애정도별 장애인 등록현황.csv")

df_raw

,Unnamed: 0,지체,지체.1,시각,시각.1,청각,청각.1,언어,언어.1,지적,...,호흡기,호흡기.1,간,간.1,안면,안면.1,장루.요루,장루.요루.1,뇌전증,뇌전증.1
0,NaN,심한 장애,심하지 않은 장애,심한 장애,심하지 않은 장애,심한 장애,심하지 않은 장애,심한 장애,심하지 않은 장애,심한 장애,...,심한 장애,심하지 않은 장애,심한 장애,심하지 않은 장애,심한 장애,심하지 않은 장애,심한 장애,심하지 않은 장애,심한 장애,심하지 않은 장애
1,합계,"25,727","130,406","8,415","31,810","11,029","55,203","1,310","1,910","28,114",...,"1,857",123,114,"2,704",162,233,175,"2,984",291,898
2,종로구,365,"1,932",164,488,169,778,15,26,381,...,26,0,1,37,4,4,2,34,4,10
3,중구,344,"1,904",164,467,170,732,15,13,304,...,29,1,2,37,6,3,1,39,4,12
4,용산구,431,"2,300",162,660,204,919,24,29,513,...,44,2,4,62,2,2,3,55,4,12
5,성동구,642,"3,910",187,908,280,"1,509",31,54,699,...,68,1,2,85,4,6,2,92,7,28
6,광진구,745,"4,314",223,"1,074",310,"1,662",33,54,813,...,52,3,3,69,4,6,2,114,12,32
7,동대문구,969,"5,647",257,"1,208",389,"2,211",53,78,946,...,71,4,9,114,4,13,6,124,9,29
8,중랑구,"1,437","7,460",394,"1,698",545,"2,218",80,95,"1,385",...,126,4,9,100,4,13,9,159,10,58
9,성북구,"1,040","6,055",367,"1,477",422,"2,259",72,90,"1,182",...,75,14,3,129,6,11,8,139,13,32
10,강북구,"1,149","5,811",453,"1,423",528,"2,336",60,95,"1,234",...,85,4,4,94,3,5,10,129,6,43
11,도봉구,862,"5,330",329,"1,247",428,"2,026",41,73,"1,155",...,50,10,5,99,7,10,3,137,10,28
12,노원구,"2,269","8,226",680,"1,974",778,"3,007",93,132,"2,344",...,117,5,6,121,17,15,15,179,22,77
13,은평구,"1,180","7,177",418,"1,847",585,"2,790",79,91,"1,883",...,112,6,7,159,7,18,15,169,9,57
14,서대문구,694,"4,181",219,"1,033",340,"1,542",35,61,840,...,38,3,3,111,7,4,8,105,7,31
15,마포구,855,"4,110",324,"1,100",376,"1,599",35,73,867,...,49,4,7,87,5,10,10,104,14,25
16,양천구,"1,133","5,926",295,"1,406",531,"3,025",61,86,"1,224",...,81,8,4,135,9,7,12,128,11,35
17,강서구,"2,350","8,674",668,"2,061",920,"4,137",85,150,"2,085",...,165,9,10,153,12,16,7,180,29,83
18,구로구,"1,138","6,415",374,"1,466",574,"3,688",68,108,"1,310",...,89,5,3,104,11,20,5,141,14,40
19,금천구,748,"4,089",194,960,368,"2,156",32,50,832,...,49,2,3,55,8,5,4,85,11,32
20,영등포구,891,"4,894",266,"1,218",393,"2,782",51,71,894,...,65,3,3,98,6,10,6,132,7,26
21,동작구,839,"4,708",336,"1,116",504,"2,177",51,80,902,...,66,4,3,106,3,8,6,106,4,37
22,관악구,"1,145","6,774",501,"1,663",605,"3,225",60,90,"1,411",...,75,4,7,126,7,10,2,154,11,37
23,서초구,723,"3,064",275,861,254,"1,325",31,42,747,...,57,3,0,134,2,4,8,95,15,15
24,강남구,"1,286","4,470",438,"1,148",413,"1,937",55,70,"1,045",...,78,8,3,149,11,12,10,104,22,37
25,송파구,"1,219","6,582",359,"1,666",483,"2,719",80,87,"1,578",...,100,9,9,203,7,9,10,159,18,39
26,강동구,"1,273","6,453",368,"1,641",460,"2,444",70,112,"1,540",...,90,7,4,137,6,12,11,121,18,43

In [3]:
# 1. "심하지 않은 장애" 열 제거
df_filtered = df_raw.loc[:, ~df_raw.iloc[0].str.contains("심하지 않은 장애", na=False)]

# 2. 첫 번째 행을 컬럼으로 지정
df_filtered.columns = df_filtered.iloc[0]
df_filtered = df_filtered.drop(index=0).reset_index(drop=True)

# 3. '합계' 행 제거 (필요하다면)
df_filtered = df_filtered[df_filtered.iloc[:, 0] != '합계']

# 4. 구 이름을 인덱스로 설정
df_filtered = df_filtered.set_index(df_filtered.columns[0])

df_filtered.head()

,심한 장애,심한 장애,심한 장애,심한 장애,심한 장애,심한 장애,심한 장애,심한 장애,심한 장애,심한 장애,심한 장애,심한 장애,심한 장애,심한 장애,심한 장애
nan,,,,,,,,,,,,,,,
종로구,365,164,169,15,381,269,121,246,200,8,26,1,4,2,4
중구,344,164,170,15,304,244,91,209,173,14,29,2,6,1,4
용산구,431,162,204,24,513,325,152,240,256,11,44,4,2,3,4
성동구,642,187,280,31,699,522,270,390,377,25,68,2,4,2,7
광진구,745,223,310,33,813,559,240,482,482,24,52,3,4,2,12

In [4]:
# 각 구별 심한 장애 인원 합산
df_filtered["심한 장애 합계"] = df_filtered.iloc[:, 1:].apply(lambda row: row.astype(str).str.replace(",", "").astype(int).sum(), axis=1)

df_summary = df_filtered[["심한 장애 합계"]]

df_summary.head()

0    심한 장애 합계
nan
종로구      1610
중구       1426
용산구      1944
성동구      2864
광진구      3239

In [5]:
# 인덱스를 컬럼으로 되돌리기
df_summary = df_summary.reset_index()
df_summary.head()

0  NaN  심한 장애 합계
0  종로구      1610
1   중구      1426
2  용산구      1944
3  성동구      2864
4  광진구      3239

In [6]:
df_summary.columns = ['구', '심한 장애 합계']
df_summary.head()

     구  심한 장애 합계
0  종로구      1610
1   중구      1426
2  용산구      1944
3  성동구      2864
4  광진구      3239

In [38]:
df_summary.to_csv("../data/서울시_구별_장애인.csv")

-----------------------------
# 구를 sort_value로 정렬하고, 구를 구_ID로 바꾼다

In [29]:
df_summary = df_summary.sort_values('구')
df_summary.head()

      구  심한 장애 합계
22  강남구      5121
24  강동구      5545
8   강북구      4815
15  강서구      8642
20  관악구      5555

In [30]:
import mysql.connector

gu_list = ['강남구', '강동구', '강북구', '강서구', '관악구', 
           '광진구', '구로구', '금천구', '노원구', '도봉구', 
           '동대문구', '동작구', '마포구', '서대문구', '서초구', 
           '성동구', '성북구', '송파구', '양천구', '영등포구', 
           '용산구', '은평구', '종로구', '중구', '중랑구']

conn = mysql.connector.connect(
host = "database-1.cb4o0sikaygu.ap-northeast-2.rds.amazonaws.com",
port = 3306,
user = "root",
password = "root762462",
database = "edadb"
)

In [31]:
df_db = df_summary.copy()
for i in range(len(gu_list)):
    df_db.iloc[i,0] = i

df_db['구']=df_db['구'].astype(int)

-------------
# 테이블 수정

In [ ]:
##### 바꿀 테이블로 이름 바꾸기.
##### 바꿀 테이블로 이름 바꾸기.
sql = "insert into gu_disabled_population values (%s,%s)"
cursor = conn.cursor(buffered=True)

In [ ]:
import numpy as np

def convert_types(row):
    new_row = []
    for item in row:
        if isinstance(item, (np.int64, np.integer)):
            new_row.append(int(item))
        elif isinstance(item, (np.float64, np.floating)):
            new_row.append(float(item))
        else:
            new_row.append(item)
    return tuple(new_row)

data = [convert_types(row) for row in df_db.values]

cursor.executemany(sql, data)
conn.commit()